<section id="allproducts">
  <div class="marquee">
    <h1>SHUFFLE ESSENTIALS <span style="color: #5a2cb9;">✦</span> SHUFFLE ESSENTIALS <span
        style="color: #5a2cb9;">✦</span> SHUFFLE ESSENTIALS <span style="color: #5a2cb9;">✦</span> SHUFFLE ESSENTIALS
      <span style="color: #5a2cb9;">✦</span>
    </h1>
  </div>
</section>

<style>

.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #1B1B1B;
    padding: 10px 0;
  }

  .marquee h1 {
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    animation: scrollText 10s linear infinite;
  }

</style>