* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
}

.top-bar{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px;
  background-color: blueviolet;
  color: aliceblue;
}

.moveee{
  position: absolute;
  white-space: nowrap; /* Para evitar que el texto se divida en varias líneas */
  animation: movetext 10s linear infinite; /* Duración de 5s, animación continua */
  width: 100%;
}
@keyframes movetext{
 from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.menu-bar{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.centerlogo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.weaccept{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border:2px purple solid;
  gap: 10px;
  padding: 0px;
}



.cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background-color: blueviolet;
  grid-gap: 4px;
}

.cards div{
}

button{
  background-color: brown;
  
}

.latest-collection{
  display: flex;
  justify-content: center;
  gap: 12px;
}

.latest-collection img{
  width: 250px;
  height: 300px;
}

.divcenter{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.navbar{
  display: flex;
  justify-content: center;
}

.pageheader{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
