<section class="featured-products">
  {% comment %} Titulo de productos destacados {% endcomment %}
  <h2>{{ settings['featured-products'].settings.heading }}</h2>
  {% comment %} Renderizacion de tarjetas (productos) {% endcomment %}
  <div class="product-list">
    {% for product in products %}
      {% render 'product-card', product: product %}
    {% endfor %}
  </div>
</section>
