{% comment %} Banner hero_banner {% endcomment %}
{% render  "heroBaner.liquid" %}

{% comment %} Section SHUFFLE ESSENTIALS {% endcomment %}
{% render  "shuffleEssentials.liquid" %}

{% comment %} all Products {% endcomment %}
<div class="cards">
  {% for product in products %}
  <div class="card">{% render 'cards', product: product %}</div>
  {% endfor %}
</div>
{% comment %} btn view all {% endcomment %}
<div class="divcenter">
<button class="view-all-btn" id="showMore">VIEW ALL</button>
</div>
<br>
{% comment %} Section LATEST COLLECTION {% endcomment %}
{% render 'latestCollection.liquid' %}



{% comment %} Styles {% endcomment %}
<style>
  /* btn view all */
  .view-all-btn {
    background-color: #8A2BE2;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .view-all-btn:hover {
    background-color: #6a1bbd;
    transform: scale(1.05);
  }

  .view-all-btn:active {
    transform: scale(0.95);
  }

  

  @keyframes scrollText {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(-100%);
    }
  }
</style>


<script>
  document.addEventListener("DOMContentLoaded", function () {
  const cards = document.querySelectorAll(".card");
  let visibleCount = 4;

  // Oculta todos menos los primeros 4
  cards.forEach((card, index) => {
    if (index >= visibleCount) {
      card.style.display = "none";
    }
  });

  document.getElementById("showMore").addEventListener("click", function () {
    // Muestra 4 más
    visibleCount += 4; 

    cards.forEach((card, index) => {
      if (index < visibleCount) {
        card.style.display = "block";
      }
    });

    // Oculta el botón cuando no hay más productos
    if (visibleCount >= cards.length) {
      this.style.display = "none"; 
    }
  });
});
</script>