<img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUG71C0fqP0jZthIH6iYErcEiQSgUQsEdqyQ&s" alt="Imagen de pepito">
<h1>shuffle esentials</h1>
<div class="cards">
  <div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBXLBdYUqs4YQrhvfAW-tW3fv2maI7zwE5mQ&s" alt="waifu">
    <div>
      <h1>waifu body pailow 800usd</h1>
      <button>
        carrito de compras
      </button>
    </div>
  </div>
  <div>
    <h1>2</h1>
  </div>
  <div>
    <h1>3</h1>
  </div>
  <div>
    <h1>4</h1>
  </div>
</div>
<button>VIEW ALL</button>
<div>
  <h1>latest collection</h1>
  <div class="latest-collection">
    <img src="https://somoskudasai.com/wp-content/uploads/2022/09/portada_tantei-wa-mou-shindeiru-48.jpg" alt=""   >
    <img src="https://s0.smartresize.com/wallpaper/13/561/HD-wallpaper-anime-anime-waifu-thumbnail.jpg" alt=""  >
  </div>
  <div class="divcenter">
    <img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/bundles/30800/70kpyom5hdyjkuxu/header_586x192.jpg?t=1677162779" alt="">
</div>
