<div class="top-bar">
  <span class="moveee">
   {{settings["hero-banner"].settings.marquee_text}}
  </span>
</div>
<br>
<div class="menu-bar">
  <div class="centerlogo">
    <img src="https://blog.mexc.com/wp-content/uploads/2023/10/shuffle_logo-edited.png" alt="shufflestore" width="150px" height="50px">
  </div>
  <div class="centerlogo">
    <div class="weaccept">
      <h4 style="margin-left:10px;color: white;">we accept</h1>
        <ol>
          <img src="https://tk-storage.s3.ap-southeast-1.amazonaws.com/host/game/Shuffle_20240515082605.png" alt="" width="30px">
          <img src="https://tk-storage.s3.ap-southeast-1.amazonaws.com/host/game/Shuffle_20240515082605.png" alt="" width="30px">
          <img src="https://tk-storage.s3.ap-southeast-1.amazonaws.com/host/game/Shuffle_20240515082605.png" alt="" width="30px">
          <img src="https://tk-storage.s3.ap-southeast-1.amazonaws.com/host/game/Shuffle_20240515082605.png" alt="" width="30px" style="margin-right:20px">
        </ol>
    </div>
  </div>
  <div class="centerlogo" style="gap:10px">
    <p>
      All Product
    </p>
    <p>
      All Product
    </p>
    <p>
      All Product
    </p>
    <button>Carrito</button>
  </div>
</div>