<div class="top-bar">
  <span class="moveee">
   {{settings["hero-banner"].settings.marquee_text}}
  </span>
</div>
<br>
<div class="menu-bar">
  <div class="centerlogo">
    <img src="https://blog.mexc.com/wp-content/uploads/2023/10/shuffle_logo-edited.png" alt="shufflestore" width="150px" height="50px">
  </div>
  <div class="centerlogo">
    <div class="weaccept">
      <h4 style="margin-left:10px;color: white;">we accept</h1>
      <div class="icons">
        <img src="https://cryptologos.cc/logos/bitcoin-btc-logo.png?v=026" alt="Bitcoin">
        <img src="https://cryptologos.cc/logos/ethereum-eth-logo.png?v=026" alt="Ethereum">
        <img src="https://cryptologos.cc/logos/litecoin-ltc-logo.png?v=026" alt="Litecoin">
        <img src="https://cryptologos.cc/logos/dogecoin-doge-logo.png?v=026" alt="Dogecoin">
        <img src="https://cryptologos.cc/logos/usd-coin-usdc-logo.png?v=026" alt="USDC">
    </div>
    </div>
  </div>
  <div class="headernavbar">
  <p><a href="#allproducts">All Products</a></p>
  <p><a href="#collections">Collections</a></p>
  <button class="cart-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M6 6h15l-1.5 9H7.5L6 6z"></path>
      <circle cx="9" cy="20" r="1"></circle>
      <circle cx="18" cy="20" r="1"></circle>
    </svg>
  </button>
</div>
</div>