<div class="pageheader">
    <div class="coloors">
        <div class="divcenter">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbUHW_D3Ka-LdkfAZVnqhf6LpXjnKHfEx0Uw&s"
                alt="" width="100px">
            <h1>JKANIME</h1>
        </div>

        <p style="color:white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi odio voluptate quis,
            sapiente quisquam doloremque ipsam recusandae molestiae perspiciatis commodi excepturi et fugiat harum
            dolore
            aut veniam, impedit, mollitia dolores.</p>
    </div>
    <div class="coloors">
        <div class="navbar">
            <ol>HOME</ol>
            <ol>CART</ol>
            <ol>ALL PRODUCTOS</ol>
        </div>
        <div>
            <h1>we accept papypal o cripto</h1>
        </div>

    </div>
    <div class="coloors">
        <p>suscribe and recibe</h1>
            <br>
            <input type="email" name="email" placeholder="Enter Email">
        <h1>facebook x sadsadas</h1>
    </div>
</div>